#centerimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}


img{
width: 500px;
img-align: center;
}

.center { /* text center */
  text-align: center;
  border: 3px;
  text-color: #bf9ed9;
  font-family: "Monaco", monospace;
  font-size: 15px;
}

#title{
  color: #8356b9;
  text-align: center;
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 18px;
}

#intro{
  color: #bf9ed9;
  text-align: center;
  font-family: "Monaco", monospace;
  font-weight: bold;
  font-size: 15px;
}
        

#citation{
  color: #8356b9;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 12px;
}


button {
  background-color: #F393B6;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
}
     
#index{
  color: #A9BFD8;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 11px;
}

.img-container {
      text-align: center;
}


* {
	box-sizing: border-box;
}
.column {
	float: center;
	width: 50%;
	padding: 5px;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}

section{
      padding-left:120px;
      padding-right:120px;
	
#img1{
      float:left;
}
#img2{
      float:right;
}
