.img-center { /* image center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


img{
width: 500px;
img-aglin: center;
}

.center { /* text center */
  text-align: center;
  border: 3px;
  text-color: #bf9ed9;
  font-family: "Monaco", monospace;
  font-size: 15px;
}

#title{
  color: #8356b9;
  text-align: center;
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 18px;
}

#intro{
  color: #bf9ed9;
  text-align: center;
  font-family: "Monaco", monospace;
  font-weight: bold;
  font-size: 15px;
}
        

#citation{
  color: #8356b9;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 12px;
}


button {
  background-color: #F393B6;
  text-align: center;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
     
#index{
  color: #A9BFD8;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 10px;
}

.img-container {
      text-align: center;
}


section{
      padding-left:200px;
      padding-right:200px;
}	
#img1{
      float:left;
}
#img2{
      float:right;
}

