.center { /* image center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img{
width: 500px;
}

.center { /* text center */
  text-align: center;
  border: 3px;
  text-color: #bf9ed9;
  font-family: "Monaco", monospace;
  font-size: 15px;
}

#title{
  color: #8356b9;
  text-align: center;
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 18px;
}

#intro{
  color: #bf9ed9;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 15px;
}
        

#button{
  color: #ED84AA;
  text-align: center;
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 18px;
}

#citation{
  color: #8356b9;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 12px;
}

.button1 {background-color: #04AA6D;} 

     

