.whiteBG{
    background-color:white;

title {
    text-color: #bf9ed9;
  text-aglin: center;
  font-family: "Monaco", monospace;
  font-size: 14px;
}
    
    
body {
  text-color: #bf9ed9;
  text-aglin: center;
  font-family: "Monaco", monospace;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;  /* centers horizontally */
  align-items: center;      /* centers vertically */
  height: 100vh;            /* full viewport height */
}
