body{ 
    color: pink;
    background-image: url(https://images.pexels.com/photos/8015135/pexels-photo-8015135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

h1{
    background-color: yellow;
}




body.arcade{
    background-image: url(images/arcade.jpg);
}

p{ 
    font-family: "Comic Sans MS"; text-align: center;
}

.citation{ 
    font-family:Arial, Helvetica, sans-serif;
    font-size: .5em;
    width:90%;
}

#intro{ 
    font-family:"Monaco", monospace;
}

img{
    width:50%; 
    border-radius: 8px;
    
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

div.container {
  text-align: center;
  padding: 10px 20px;
}
}

div{
    width:50%;
    display:inline-block; 
    position:relative; 
    left:5%; 
}

h1.whiteBG{
    background-color:white;
    text-align: center; 
}

#option2{
    width:50%; 
    border-radius: 8px;
}
