#title{
  color: #8356b9;
  text-align: center;
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 18px;
}

#intro{
  color: #bf9ed9;
  text-align: center;
  font-family: "Monaco", monospace;
  font-weight: bold;
  font-size: 15px;
}
        
